<%= form_for(@reference, html: {class: 'form-horizontal'}) do |f| %>
  <% if @reference.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <%= pluralize(@reference.errors.count, "error") %> prohibited this reference from being saved:
      </div>
      <div class="panel-body">
        <ul>
          <% @reference.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :reference_type %><br>
      <%= f.select :reference_type, @types %>
    </div>
  <div class="form-group">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="form-group">
    <%= f.label :publisher %><br>
    <%= f.text_field :publisher %>
  </div>
  <div class="form-group">
    <%= f.label :volume %><br>
    <%= f.text_field :volume %>
  </div>
  <div class="form-group">
    <%= f.label :series %><br>
    <%= f.text_field :series %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="form-group">
    <%= f.label :edition %><br>
    <%= f.text_field :edition %>
  </div>
  <div class="form-group">
    <%= f.label :journal %><br>
    <%= f.text_field :journal %>
  </div>
  <div class="form-group">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="form-group">
    <%= f.label :pages %><br>
    <%= f.text_field :pages %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-default'%>
  </div>
<% end %>
