<%= form_for(@reference, html: {class: 'form-horizontal'}) do |f| %>
  <% if @reference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reference.errors.count, "error") %> prohibited this reference from being saved:</h2>

      <ul>
      <% @reference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :reference_type %><br>
      <%= f.select :reference_type, options_for_select(@types) %>
    </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="form-group">
    <%= f.label :publisher %><br>
    <%= f.text_field :publisher %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-default'%>
  </div>
<% end %>
