<div class="row">
    <div class="col-xs-10">
        <h3>References</h3>
    </div>
    <div class="col-xs-2">
      <%= form_tag references_path, :method => 'get' do %>
  	<p>
          <%= text_field_tag :search, params[:search], :id => 'search_field' %>
          <%= submit_tag "Search", :name => nil, class: 'btn btn-default centered' %>
        </p>
      <% end %>
        <%= link_to 'New Reference', new_reference_path, class: 'btn btn-default centered' %>
    </div>
</div>
<div class="row">
    <table class="table">
    <thead>
        <tr>
        <th>Type</th>
        <th>Author</th>
        <th>Title</th>
        <th>Year</th>
        <th>Publisher</th>
        <th colspan="3"></th>
        </tr>
    </thead>

  <tbody>
    <% @references.each do |reference| %>
      <tr>
        <td><%= reference.reference_type %></td>
        <td><%= reference.author %></td>
        <td><%= reference.title %></td>
        <td><%= reference.year %></td>
        <td><%= reference.publisher %></td>
        <td><%= link_to 'Show', reference %></td>
        <td><%= link_to 'Edit', edit_reference_path(reference) %></td>
        <td><%= link_to 'Destroy', reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
