<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @reference.reference_type %>
</p>

<p>
  <strong>Author:</strong>
  <%= @reference.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @reference.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @reference.year %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @reference.publisher %>
</p>

<p>
  <strong>BibTeX:</strong>
  <pre><%= @reference.bibtexify %></pre>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
